body {
  font-size: 15px;
  font-family: Roboto;
}

.container {
  max-width: 856px;
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 16px;
}

section.container {
  min-height: 963px
}

.topnav {
  display: flex;
  min-height: 30px;
  background: #33292a;
  justify-content: center;
  position: relative;
}

.topnav li {
  list-style-type: none;
  font-size: 30px;
  padding: 15px 30px;
}

.topnav li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.topnav li a:hover {
  color: lightblue;
}

.topnav .icon {
  display: none;
  color: white;
  font-size: 28px;
  padding: 15px;
  cursor: pointer;
}

a.icon {
  display: none
}

.about {
  width: 856px;
  height: 400px;
  flex-flow: column wrap;
  margin: 0 auto;
}

.about img{
  float: right;
  width: 444px;
  height: 297px;

}

.about p,
h2 {
  color: black;
  text-align: left;
}


.sec1 {
  background: url("images/first.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container-text {
  text-align: right;
  bottom: 11vh;
  right: 10vw;
  position: absolute;
}

.container-text h1 {
  font-size: 96px;
  color: rgb(255, 255, 255);
  z-index: 1;
}


.whatwedo-container {
  width: 100%;
  height: 600px;
  background-color: #33292a;
}

.whatwedo-text-container {
  margin: 0 auto;
  padding-top: 30px;
  height: 170px;
}

.whatwedo-text-container h2,
p {
  color: #fff;
  text-align: center;
}

.whatwedo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  font-size: 24px;
  color: #fff;
  justify-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 148px;
}

.whatwedo-grid img {
  width: 80px;
  height: 80px;
}

.whatwedo-grid h3 {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.trips-grid {
  display: grid;
  flex-flow: wrap row;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 856px;
  margin: 0 auto;
  padding: 30px 0;

}

.trips-item {
  overflow: hidden;
  object-fit: cover;
}

.trips-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trips-center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #bebebe;
}

.where {
  width: 100%;
  min-height: 400px;
  background-color: #644b4f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  color: #fff;

}

.where-container {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.where-container h2 {
  flex: 0 0 auto;
  max-width: 350px;
  color: #fff;
  line-height: 1.2;
  text-align: left;
  width: 100%;
  margin-bottom: 15px;
}

.where-content p {
  text-align: left;
  width: 100%;
  margin-bottom: 15px;
}

.where-content {
  align-items: flex-start;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.where-container button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

.reviews {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.reviews h2 {
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 180px;
  max-width: 867px;
  margin: 0 auto;
}

.review {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  text-align: center;

}

.review img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px;
}

.review-text {
  max-width: 430px;
  min-height: 220px;
  margin-bottom: 30px;
  color: #000;
}

.reviews-intro {
  max-width: 700px;
  margin: 0 auto 80px;
  color: #000;
  max-width: 332px;
}

.review-name {
  font-weight: 700;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}


.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background: #333333;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
}

footer a {
  color: #e9877b;
  display: block;
  margin-bottom: 10px;
}


@media screen and (width <=768px) {
  body {
    font-size: 15px;
    width: 100%;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
  }


  .topnav {
    width: 100%;
    justify-content: flex-start;

  }

  .topnav li {
    display: none;
    text-align: center;
    width: 100%;
  }

  .topnav.responsive {
    flex-direction: column;
    align-items: stretch;
  }

  .topnav.responsive li {
    display: block;
  }

  .topnav .icon {
    display: block;
    color: #fff;
    font-size: 28px;
    margin-left: auto;
    cursor: pointer;
  }

 
  .sec1 {
    min-height: 420px;
    height: 780px;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .container-text {
    display: flex;
    justify-content: flex-end;
    align-self: end;
  }

  .container-text h1 {
    font-size: 42px;
    line-height: 1.1;
  }

 
  .about {
    width: 100%;
    height: auto;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
  }

  .about img {
    float: none;
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 20px;
  }

  .about h2 {
    margin-bottom: 16px;
  }



  .whatwedo-container {
    padding: 32px 0 40px;
  
  }

  .whatwedo-text-container {
    padding: 0 16px 24px;
  }

  .whatwedo-text-container h2 {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .whatwedo-text-container p {
    font-size: 15px;
    line-height: 1.5;
  }

  
  .whatwedo-grid {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 12px;
    margin-top: 24px;
    padding: 0 16px;
  }

  .whatwedo-grid img {
    width: 64px;
    height: 64px;
  }

  .whatwedo-grid h3 {
    font-size: 20px;
    margin: 0 0 16px;
  }

  .whatwedo-grid img:nth-of-type(1) {
    order: 1;
  }

  .whatwedo-grid h3:nth-of-type(1) {
    order: 2;
  }

  .whatwedo-grid img:nth-of-type(2) {
    order: 3;
  }

  .whatwedo-grid h3:nth-of-type(2) {
    order: 4;
  }

  .whatwedo-grid img:nth-of-type(3) {
    order: 5;
  }

  .whatwedo-grid h3:nth-of-type(3) {
    order: 6;
  }

  .whatwedo-grid img:nth-of-type(4) {
    order: 7;
  }

  .whatwedo-grid h3:nth-of-type(4) {
    order: 8;
  }

  
  .trips-grid {
    max-width: 100%;
    padding: 24px 16px;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .trips-center h2 {
    font-size: 28px;
    text-align: center;
  }

  .where {
    padding: 32px 16px;
  }

  .where-container {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .where-container h2 {
    flex: 0 0 auto;
    max-width: 40%;
    text-align: right;
    font-size: 24px;
  }

  .where-content {
    flex: 1;
    align-items: flex-start;
  }

  .where-content p {
    text-align: left;
  }

  .where-container button {
    align-self: flex-start;
  }


  .reviews {
    max-width: 100%;
    padding: 32px 16px 40px;
  }

  .reviews h2 {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .reviews-intro {
    max-width: 100%;
    margin: 0 auto 32px;
    text-align: center;
  }

  .reviews-grid {
    grid-template-columns: 1fr;
    gap: 32px;
    max-width: 100%;
  }

  .review-text {
    max-width: 100%;
    min-height: auto;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery img {
    width: 100%;
    height: auto;
  }

  footer {
    padding: 24px 16px;
  }

  footer a {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 769px) and (width <=992px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }

  .about {
    width: 100%;
    padding: 40px;

  }

  .about img {
    width: 300px;
    height: auto;
  }

 
  .whatwedo-grid {
    padding: 0 40px;
  }


  .trips-grid {
    grid-template-columns: repeat(2, 1fr);
  }


  .where-container {
    gap: 40px;
    padding: 0 40px;
  }

  .reviews-grid {
    gap: 60px;
  }


  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}